READ_WRITE_WITH_NODERED.txt
[{"id":"940b9ba8.17ab28","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"22c6544a.9b791c","type":"debug","z":"940b9ba8.17ab28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"7c90437.9d55fbc","type":"s7 in","z":"940b9ba8.17ab28","endpoint":"b75d3f0.992d9c","mode":"single","variable":"DATA1","diff":false,"name":"","x":130,"y":60,"wires":[["22c6544a.9b791c"]]},{"id":"ab12a5b9.777d28","type":"s7 in","z":"940b9ba8.17ab28","endpoint":"b75d3f0.992d9c","mode":"single","variable":"DATA2","diff":false,"name":"","x":490,"y":240,"wires":[["f93d3762.98d368"]]},{"id":"713216.ca8b8dec","type":"s7 out","z":"940b9ba8.17ab28","endpoint":"9dde3bb5.4dc978","variable":"ON","name":"","x":730,"y":400,"wires":[]},{"id":"c412591f.e22b28","type":"ui_template","z":"940b9ba8.17ab28","group":"857ce36c.f1603","name":"Rocker Switch","order":3,"width":4,"height":4,"format":"<table style=\"width: 100%; text-align: center;\">\n   <tr>\n      <td>\n         <span style=\"vertical-align: middle;font-weight: bold;\">MOTOR</span>\n      </td>\n    </tr>\n    <tr>\n      <td> \n        <label class=\"rocker rocker-mid\">\n        <input type=\"checkbox\" ng-model=\"msg.payload\" ng-change=\"send(msg)\" checked>\n        <md-tooltip md-direction=\"top\"> </md-tooltip>\n        <span class=\"switch-left\">On</span>\n        <span class=\"switch-right\">Off</span>\n  </label>\n      </td>\n   </tr>\n</table>\n\n<style>\n    html {\n  box-sizing: border-box;\n  font-family: 'Arial', sans-serif;\n  font-size: 100%;\n}\n*, *:before, *:after {\n  box-sizing: inherit;\n  margin:0;\n  padding:0;\n}\n\n/* Switch starts here */\n.rocker {\n  display: inline-block;\n  position: relative;\n  /*\n  SIZE OF SWITCH\n  ==============\n  All sizes are in em - therefore\n  changing the font-size here\n  will change the size of the switch.\n  See .rocker-small below as example.\n  */\n  font-size: 0.38em;\n  font-weight: bold;\n  text-align: center;\n  text-transform: uppercase;\n  color: #888;\n  width: 7em;\n  height: 4em;\n  overflow: hidden;\n  border-bottom: 0.5em solid #eee;\n}\n\n.rocker-small {\n  font-size: 0.38em; /* Sizes the switch */\n  margin: 0em;\n}\n\n.rocker-mid {\n  font-size: 1.1em; /* Sizes the switch */\n  margin: 0em;\n}\n\n.rocker::before {\n  content: \"\";\n  position: absolute;\n  top: 0.5em;\n  left: 0;\n  right: 0;\n  bottom: 0;\n  background-color: #999;\n  border: 0.5em solid #eee;\n  border-bottom: 0;\n}\n\n.rocker input {\n  opacity: 0;\n  width: 0;\n  height: 0;\n}\n\n.switch-left,\n.switch-right {\n  cursor: pointer;\n  position: absolute;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  height: 2.5em;\n  width: 3em;\n  transition: 0.2s;\n}\n\n.switch-left {\n  height: 2.4em;\n  width: 2.75em;\n  left: 0.85em;\n  bottom: 0.4em;\n  background-color: #ddd;\n  transform: rotate(15deg) skewX(15deg);\n}\n\n.switch-right {\n  right: 0.5em;\n  bottom: 0;\n  background-color: #bd5757;\n  color: #fff;\n}\n\n.switch-left::before,\n.switch-right::before {\n  content: \"\";\n  position: absolute;\n  width: 0.4em;\n  height: 2.45em;\n  bottom: -0.45em;\n  background-color: #ccc;\n  transform: skewY(-65deg);\n}\n\n.switch-left::before {\n  left: -0.4em;\n}\n\n.switch-right::before {\n  right: -0.375em;\n  background-color: transparent;\n  transform: skewY(65deg);\n}\n\ninput:checked + .switch-left {\n  background-color: #0084d0;\n  color: #fff;\n  bottom: 0px;\n  left: 0.5em;\n  height: 2.5em;\n  width: 3em;\n  transform: rotate(0deg) skewX(0deg);\n}\n\ninput:checked + .switch-left::before {\n  background-color: transparent;\n  width: 3.0833em;\n}\n\ninput:checked + .switch-left + .switch-right {\n  background-color: #ddd;\n  color: #888;\n  bottom: 0.4em;\n  right: 0.8em;\n  height: 2.4em;\n  width: 2.75em;\n  transform: rotate(-15deg) skewX(-15deg);\n}\n\ninput:checked + .switch-left + .switch-right::before {\n  background-color: #ccc;\n}\n\n/* Keyboard Users */\ninput:focus + .switch-left {\n  color: #333;\n}\n\ninput:checked:focus + .switch-left {\n  color: #fff;\n}\n\ninput:focus + .switch-left + .switch-right {\n  color: #fff;\n}\n\ninput:checked:focus + .switch-left + .switch-right {\n  color: #333;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":340,"y":420,"wires":[["7b6fbe73.1c367","f777a65e.f53f88"]]},{"id":"7b6fbe73.1c367","type":"ui_switch","z":"940b9ba8.17ab28","name":"","label":"","tooltip":"","group":"857ce36c.f1603","order":1,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"motor is on","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_unchecked","oncolor":"white","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"white","animate":true,"x":530,"y":360,"wires":[["713216.ca8b8dec","8281b662.22cad8","634f0556.379e5c"]]},{"id":"302986e5.d9ff4a","type":"s7 in","z":"940b9ba8.17ab28","endpoint":"b75d3f0.992d9c","mode":"single","variable":"DATA1","diff":false,"name":"","x":490,"y":180,"wires":[["3fb65685.f8cd7a"]]},{"id":"3fb65685.f8cd7a","type":"ui_gauge","z":"940b9ba8.17ab28","name":"","group":"1117dce7.72bc33","order":1,"width":4,"height":4,"gtype":"gage","title":"SPEED","label":"RPM","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":180,"wires":[]},{"id":"f93d3762.98d368","type":"ui_gauge","z":"940b9ba8.17ab28","name":"","group":"5cda69ad.8262f8","order":1,"width":4,"height":4,"gtype":"wave","title":"TEMPERATURE","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"f777a65e.f53f88","type":"ui_media","z":"940b9ba8.17ab28","group":"857ce36c.f1603","name":"","width":4,"height":3,"order":4,"category":"MOTOR","file":"electric-motor-Va7vAQ3-600.jpg","layout":"adjust","showcontrols":false,"loop":false,"onstart":false,"scope":"local","tooltip":"","x":530,"y":420,"wires":[[]]},{"id":"634f0556.379e5c","type":"ui_text","z":"940b9ba8.17ab28","group":"857ce36c.f1603","order":6,"width":4,"height":1,"name":"","label":"","format":"{{msg.on payload}}","layout":"row-left","x":710,"y":340,"wires":[]},{"id":"8281b662.22cad8","type":"s7 out","z":"940b9ba8.17ab28","endpoint":"b75d3f0.992d9c","variable":"DATA2","name":"","x":730,"y":460,"wires":[]},{"id":"f0c513ed.46993","type":"ui_media","z":"940b9ba8.17ab28","group":"3d8a3c80.5ca924","name":"","width":0,"height":0,"order":1,"category":"HOME PAGE","file":"download.jpg","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":610,"y":520,"wires":[[]]},{"id":"5c7b64c.fd9029c","type":"ui_text","z":"940b9ba8.17ab28","group":"3d8a3c80.5ca924","order":2,"width":0,"height":0,"name":"","label":"WELCOME TO IIoT. CONTROL YOUR PLC THROUGH WEB","format":"","layout":"row-center","x":600,"y":580,"wires":[]},{"id":"216736cd.3536ea","type":"ui_text_input","z":"940b9ba8.17ab28","name":"","label":"ENTER SPEED","tooltip":"","group":"857ce36c.f1603","order":9,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":140,"y":180,"wires":[["b0cfaa4.0df7c58"]]},{"id":"b0cfaa4.0df7c58","type":"s7 out","z":"940b9ba8.17ab28","endpoint":"b75d3f0.992d9c","variable":"DATA1","name":"","x":310,"y":180,"wires":[]},{"id":"b75d3f0.992d9c","type":"s7 endpoint","transport":"iso-on-tcp","address":"127.0.0.1","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"4000","timeout":"2000","name":"","vartable":[{"addr":"DB1,WORD0","name":"DATA1"},{"addr":"DB1,WORD2","name":"DATA2"},{"addr":"DB1,WORD4","name":"DATA3"}]},{"id":"9dde3bb5.4dc978","type":"s7 endpoint","transport":"iso-on-tcp","address":"127.0.0.1","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"DB2,X0.0","name":"ON"},{"addr":"DB2,X0.1","name":"OFF"}]},{"id":"857ce36c.f1603","type":"ui_group","name":"Group","tab":"530e207e.1f61c","order":1,"disp":false,"width":"12","collapse":false},{"id":"1117dce7.72bc33","type":"ui_group","name":"","tab":"c37ceaeb.930158","order":1,"disp":true,"width":"6","collapse":false},{"id":"5cda69ad.8262f8","type":"ui_group","name":"","tab":"8d23fbd9.9828a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d8a3c80.5ca924","type":"ui_group","name":"SVG_HOME","tab":"f690f9b0.0ab2b8","order":1,"disp":false,"width":"6","collapse":false},{"id":"530e207e.1f61c","type":"ui_tab","name":"MOTOR CONTROL","icon":"fa-toggle-on","order":2,"disabled":false,"hidden":false},{"id":"c37ceaeb.930158","type":"ui_tab","name":"SPEED","icon":"fa-fighter-jet","order":4,"disabled":false,"hidden":false},{"id":"8d23fbd9.9828a8","type":"ui_tab","name":"TEMPERATURE","icon":"fa-thermometer-full","order":3,"disabled":false,"hidden":false},{"id":"f690f9b0.0ab2b8","type":"ui_tab","name":"HOME","icon":"dashboard","order":1,"disabled":false,"hidden":false}]